.faqBlock{
    width: 100%;
    height: 570px;
    display: flex;
    flex-direction: column;
 
    margin: 10px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;

}
.logo{
    display: flex;
    flex-direction:row;
}
.faqlogo{
      width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-top: 60px;
    padding-top: 10px;

     /* border: 2px solid palevioletred;  */

}

.faqTitle{
    
   font-size: 40px;
    font-weight: 700;
    padding-bottom: 20px;
    margin-top:40px;
    padding-top: 30px;
      /* border: 2px solid blue;  */
}



.mainFaqBox{
    display: flex;
    justify-content: center;
    align-items: center;

}

.queBlock{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.parentQueBlock{

    border-radius: 10px;
    padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; 
}

.QUE{
    font-size: 20px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
} 


.ANS{
    margin: 8px;
    font-size: 18px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

.imageBlock{
    padding-left: 10px;
    width: 50%;
    height: 100%;
    background-color: none;
    
}
 @media screen and (max-width: 1000px) {
    .faqBlock{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px; 

}
.mainFaqBox{
    display: flex;
    flex-direction:column;
    /* justify-content: center;
    align-items: center; */

}
.queBlock{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.imageBlock{
    padding-left: 10px;
    width: 100%;
    height: 100%;
    background-color: none;
    
 }
}